.spotify-widget {
  /* layout */
  grid-column: 1;
  grid-row: 6;
  position: relative;
  overflow: visible;
  /* styles */
  outline: 4px solid white;
  outline-offset: -4px;
  perspective: 300px;
}

.nothing-playing {
  /* layout */
  background-color: snow;
  border: 4px solid rgb(234, 234, 234);
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  /* styles */
  color: rgb(225, 225, 225);
}

.playing-card {
  /* layout */
  height: 100%;
  /* styles */
  box-shadow: -1px 0 1px 1.5px #00000030;
  /* animation properties */
  transform-style: preserve-3d;
  transform-origin: center;
  transition: box-shadow 1s ease-in-out;
}

.playing-front,
.playing-back {
  /* layout */
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.playing-front {
  /* styles */
  background-color: white;
  padding: 4px;
}

.playing-back {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background-color: snow;
  color: black;
  border: 4px solid white;
  transform: rotateY(180deg);
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: #00c853;
    cursor: pointer;
  }
}

audio {
  width: 0;
  height: 0;
  visibility: hidden;
}

.title {
  font-weight: 700;
  font-style: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.artist {
  color: var(--inactive-col);
  display: -webkit-box;
  font-weight: 200;
  font-style: italic;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}
