.spotify-widget {
  /* layout */
  grid-column: 1;
  grid-row: 6;
  position: relative;
  overflow: visible;
  /* styles */
  outline: 4px solid white;
  outline-offset: -4px;
  perspective: 300px;
}

.nothing-playing {
  /* layout */
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  /* styles */
  color: var(--inactive-col);
}

.playing-card {
  /* layout */
  height: 100%;
  /* styles */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* animation properties */
  transform-style: preserve-3d;
  transform-origin: center;
}

.playing-front,
.playing-back {
  /* layout */
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.playing-front {
  /* styles */
  background-color: snow;
  padding: 10px;
}

.playing-back {
  /* styles */
  background-image: linear-gradient(to top, #3dc015 0%, #d5f367 100%);
  border: none;
  color: black;
  /* animation properties */
  transform: rotateY(180deg);
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: black;
    cursor: pointer;
  }
}

audio {
  width: 0;
  height: 0;
  visibility: hidden;
}

.title {
  font-weight: bolder;
  font-size: 1.1em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.artist {
  display: -webkit-box;
  font-weight: lighter;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
