.menu {
  grid-column: 1;
  grid-row: 1 / 5;
  height: fit-content;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}

.menu-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.subs-closed {
  /* layout */
  display: flex;
  font-weight: lighter;
  padding-left: 15px;
  align-items: center;
  /* static properties */
  border-top: 0.5px solid rgba(228, 228, 228, 0.5);
  /* transition properties */
  height: 18px;
  background-image: linear-gradient(rgb(237, 237, 237) 0%, rgb(255, 255, 255) 25%),
    linear-gradient(rgba(0, 0, 0, 1), rgba(255, 255, 255, 1));
  background-size: 150px 200px;
  background-repeat: no-repeat;
  background-position-y: 0px;
  transition:
    transform 0.5s ease-in-out,
    height 0.5s ease-in-out,
    background-position-y 0.5s ease-in-out;

  i {
    font-size: 1em;
    color: rgb(180, 180, 180);
    transform: scaleY(0.6) rotateX(45deg);
    perspective: 130px;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out, color 1s ease-in-out;
  }

  i:hover {
    cursor: pointer;
    font-weight: 300;
    color: orangered;
  }
}

.subs-closed:nth-child(even) {
  background-image: none;
}
