/* flip card styles */

.new-flip-card {
  background-color: snow;
  width: 100%;
  height: 100%;
  perspective: 5000px;
}

.new-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

/* .new-flip-card:hover .new-flip-card-inner {
  transform: rotateY(180deg);
} */

.new-flip-card-front,
.new-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.new-flip-card-front {
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.new-flip-card-back {
  height: 100%;
  justify-content: space-between;
  background-color: snow;
  border: 2px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flipImage {
  width: 100%;
  height: 100%;
}
