.menu {
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-top: 0.5px solid rgb(245, 245, 245);
  border-bottom: 0.5px solid rgb(242, 242, 242);
  /* margin-bottom: 18px; */
}

.menu-title {
  display: flex;
  align-items: center;
  width: 135px;
  height: 30px;
  padding-left: 10px;
  border-bottom: 0.5px solid rgb(243, 243, 243);

  h3 {
    color: rgb(157, 157, 157);
  }
}

.submenu {
  box-shadow: -9px 0 7px -3px #55555530;
  transition: box-shadow 0.6s ease-in-out;
}

.subs-closed {
  /* layout */
  display: flex;
  font-weight: lighter;
  padding-left: 10px;
  align-items: center;
  /* static properties */
  border-top: 0.5px solid rgba(228, 228, 228, 0.5);
  /* transition properties */

  height: 9.7px;
  background-image: linear-gradient(rgb(237, 237, 237) 0%, rgb(255, 255, 255) 25%),
    linear-gradient(rgba(0, 0, 0, 1), rgba(255, 255, 255, 1));
  background-size: 150px 200px;
  background-repeat: no-repeat;
  background-position-y: 0px;

  transition:
    box-shadow 0.7s ease-in-out,
    transform 0.5s ease-in-out,
    height 0.5s ease-in-out,
    background-position-y 0.5s ease-in-out;

  p {
    font-weight: bolder;
    color: rgba(180, 180, 180, 0.2);
    transform: scaleY(0.3) rotateX(45deg);
    perspective: 130px;
    transform-style: preserve-3d;
    transition:
      transform 0.5s ease-in-out,
      color 0.5s ease-in-out;
  }

  p:hover {
    cursor: pointer;
    color: black;
    text-decoration: underline;
  }
}

.subs-closed:nth-child(odd) {
  background-image: none;
}
