.accordian-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.accordian-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: lighter;
}

.accordian-text:hover {
  font-weight: 300;
  cursor: pointer;
}

.accordian-text::selection {
  cursor: pointer;
}

.subs p {
  font-weight: lighter;
  color: rgb(0, 0, 0);
  margin-left: 10px;
}
