.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.app-grid {
  display: grid;
  grid-template-columns: repeat(10, 135px);
  grid-template-rows: repeat(6, 135px);
  gap: 15px;
}

.tools {
  grid-column: 1;
  grid-row: 5;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 14px;
}

.tool {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100%;
  color: orangered;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);}

.tool:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
  color: black;
}

svg {
  transform: scale(1.6);
}

a {
  color: black;
}
