.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.app-grid {
  padding: 50px;
  display: grid;
  width: 1650px;
  height: 930px;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 15px;
  overflow: hidden;
}

.tools {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 15px;
}

.tool:hover {
  background-image: linear-gradient(to top, rgb(228, 249, 215) 0%, rgb(255, 233, 237) 100%);
  border-radius: 5px;
  color: rgb(53, 181, 53);
  cursor: pointer;
}
@keyframes push {
  0% {
    box-shadow: 4px 4px 8px 0px rgb(0, 0, 0, 0.2);
  }
  50% {
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 1);
  }
  100% {
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  }
}

svg {
  transform: scale(1.6);
}

.tool {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: snow;
  width: 100%;
  height: 100%;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: background-image 1s ease-in-out;
}
