.app {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: safe center;
  align-items: safe center;
  min-width: 100%;
  min-height: 100%;
  overflow: scroll;
  padding: 30px;
}

.app-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 135px);
  grid-template-rows: repeat(6, 135px);
  gap: 15px;
  background-color: snow;
  border: 1px solid rgb(227, 227, 227);
  overflow: visible;
}

.grid-menu {
  height: fit-content;
  box-shadow: -1px 0 1px 1px #00000030;
}

.tools {
  color: rgb(157, 157, 157);
  position: relative;
  grid-column: 1;
  grid-row: 5;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 14px;
}

.tool {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100%;
  box-shadow: -1px 0 1px 1.5px #00000030;
  transition:
    box-shadow 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.tool:hover {
  box-shadow: -0.5px 0 0.5px 1px #00000030;
  cursor: pointer;
  color: black;
}

.tool svg {
  transform: scale(1.6);
}

a {
  color: rgb(157, 157, 157);
}
