/* flip card styles */

.new-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 300px;
  transition: transform 0.8s ease-in-out;
  transform-style: preserve-3d;
}

.new-flip-card-front,
.new-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.new-flip-card-front {
  padding: 10px;
  background-color: #ffffff;
  box-shadow: -1px 0 2px 2px #00000030;
}

.new-flip-card-back {
  color: black;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  /* background-image: linear-gradient(to top, rgb(247, 219, 208) 0%, rgb(225, 238, 194) 100%); */
  border: 4px solid white;
  background-color: snow;
}

.flipImage {
  width: 100%;
  height: 100%;
}

.icon {
  align-self: flex-end;
  margin-right: 10px;
  margin-bottom: 6px;
}
